.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-width: 250px;
}

.actions {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.item-layout {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
